{% extends 'panel/base.html' %}
{% load static %}
{% block body %}
<div style="margin:50px 0;">
    <div class="login-bg" >
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-5">
                    <div class="form-input-content">
                        <div class="card card-login position-relative">
                            <div class="load-overlay" style="display:none">
                                    <span class="overlay-close btn-remove" title="close overlay">
                                        <i class="fa fa-close"></i>
                                    </span>
                                    <div class="overlay">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="loader-container">
                                                <div class="loader">
                                                    <svg class="circular" viewBox="25 25 50 50">
                                                    <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                                    </svg>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="card-header">
                                <div class="nav-header position-relative  text-center w-100">
                                    <div class="brand-logo">
                                        <a href="/">
                                            <span class="brand-title text-capitalize"><b>{{obj.site_name}}</b></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-3">
                                <img class="rounded-circle" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/11.png' %}" width="80" height="80" alt="{{obj.site_name}} logo">
                            </div>
                            <div class="card-body">
                                <p class="text-center">Your password has been set. You may go ahead and log in now.</p>
                                <div class="text-center"> 
                                    <a  class="btn btn-primary btn-block waves-effect waves-light auth-btn" href="{% url 'login' %}">Login</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                &copy;{% now 'Y' %} {{obj.site_name}}. All Rights Reserved.Designed and coded by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
