{% extends 'panel/base.html' %}
{% load static %}
{% block body %}
<div style="margin:50px 0;">
    <div class="login-bg" >
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-md-5">
                    <div class="form-input-content">
                        <div class="card card-login position-relative">
                            <div class="load-overlay" style="display:none">
                                    <span class="overlay-close btn-remove" title="close overlay">
                                        <i class="fa fa-close"></i>
                                    </span>
                                    <div class="overlay">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="loader-container">
                                                <div class="loader">
                                                    <svg class="circular" viewBox="25 25 50 50">
                                                    <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                                    </svg>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="card-header">
                                <div class="nav-header position-relative  text-center w-100">
                                    <div class="brand-logo">
                                        <a href="/">
                                            <span class="brand-title text-capitalize"><b>{{obj.site_name}}</b></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-3">
                                <img class="rounded-circle" src="{% static 'manager/assets/images/loader.gif' %}" data-src="{% static 'panel/assets/images/11.png' %}" width="80" height="80" alt="{{obj.site_name}} logo">
                            </div>
                            <div class="card-body">
                               <form method="post" novalidate>
                                    {% csrf_token %}
                                    <label for=""class="float-left">New password</label>
                                    <div class="form-group input-group mb-3">
                                        <input class="form-control {% if form.new_password1.errors %} is-invalid {% else %}''{% endif %}" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"placeholder="New password">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-eye-slash"></i></span>
                                        </div>
                                    </div>
                                    {% if form.new_password1.errors %}
                                    <div class="text-danger float-left pb-3" style="margin-top:-10px"><i class="fa fa-exlamation-circle"></i> {{form.new_password1.errors.as_text}}</div>
                                    {% endif %}
                                    <label for=""class="float-left">Confirm  password</label>
                                    <div class="form-group input-group mb-3">
                                        <input class="form-control {% if form.new_password2.errors %} is-invalid {% else %}''{% endif %}" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirm password">
                                        <div class="input-group-append">                                
                                            <span class="input-group-text"><i class="fa fa-eye-slash"></i></span>
                                        </div>
                                    </div>
                                    {% if form.new_password2.errors %}
                                    <div class="text-danger float-left pb-3" style="margin-top:-10px"><i class="fa fa-exlamation-circle"></i> {{form.new_password2.errors.as_text}}</div>
                                    {% endif %}
                                    <button class="btn btn-primary btn-block border-0" type="submit">Reset password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                &copy;{% now 'Y' %} {{obj.site_name}}. All Rights Reserved.Designed and coded by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
