{% extends 'panel/main.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="breadcrumb-range-picker">
            <span><i class="icon-calender"></i></span>
            <span class="ml-1">{% now 'l' %}, {% now 'd m Y' %}</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Register Courses</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">View Registered courses</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="content-heading">View registered courses ({{count|intcomma}})</h3>
        </div>
        <div class="col-md-10 col-12 mx-auto">
            <div class="card poition-relative">
            	<div class="load-overlay" style="display:none">
                    <span class="overlay-close btn-remove" title="close overlay">
                        <i class="fa fa-close"></i>
                    </span>
                    <div class="overlay">
                        <div class="row">
                            <div class="col-12">
                                <div class="loader-container">
                                <div class="loader">
                                    <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                    </svg>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">View all registered courses </h4>
                    <div class="table-responsive table-results">
                       		{% csrf_token %}
	                       	<table class="table table-responsive-sm table-stripped table-hover">
	                        	{% for exam in exams %}
	                            <tr id="{{exam.id}}">
	                            	<th>{{forloop.counter}}</th>
	                            	<th>Course Code</th>
	                            	<td>{{exam.course_code}}</td>
	                            	<th>Course Title</th>
	                            	<td>{{exam.course_title}}</td>
	                            	<th>Action</th>
	                            	<td>
	                            	 <a data-host="{% url 'registered courses' %}" href="{% url 'delete registered course' id=exam.id %}" data-toggle="tooltip" title="Delete {{exam.course_name}}" class="del-data btn btn-danger input-rounded" type="button"><i class="fa fa-trash"></i> Drop</a>	
	                            	</td>
	                            </tr>
	                            {% empty %}
	                            <tr>
	                            	<td class="text-center">No courses found</td>
	                            </tr>
	                            {% endfor %}
	                        </table>
	                        <div class="text-center">
	                        	{% if count > 0 %}
	                            <a href="{% url 'prepare exam card' %}" class="btn btn-primary input-rounded">Download exam card</a>
	                            {% else %}
	                            <a href="{% url 'home' %}" class="btn btn-primary input-rounded">Register Courses</a>
	                        	{% endif %}
	                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}