{% extends 'panel/main.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="breadcrumb-range-picker">
            <span><i class="icon-calender"></i></span>
            <span class="ml-1">{% now 'l' %}, {% now 'd m Y' %}</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/panel">Home</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">All Schools</a></li>
        </ol>
    </div>
</div>
<!-- row -->
<a href="{% url 'new school' %}" class="float-btn btn btn-primary"><i class="fa fa-plus"></i></a>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="content-heading">All Schools</h3>
        </div>
        <div class="col-md-10 col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">View site schools ({{acount|intcomma}})</h4>
                    <div class="table-responsive table-results">
                        <table class="table table-responsive-sm table-stripped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Date Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for school in schools %}
                                <tr id="id_{{school.id}}">
                                    <th>{{forloop.counter}}</th>
                                    <td>{{school.school}}</td>
                                    <td>{{school.created_on}}</td>
                                    <td>
                                        <a data-toggle="tooltip" title="Edit {{school.school}}"  href="{% url 'edit school' id=school.id %}" class="btn btn-success input-rounded"><i class="fa fa-edit"></i> Edit</a>
                                        <a data-host="{% url 'schools' %}" href="{% url 'delete school' id=school.id %}" data-toggle="tooltip" title="Delete {{school.school}}" class="del-data btn btn-danger input-rounded" type="button"><i class="fa fa-trash"></i> Delete</a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <p><i class="fa fa-excamation-circle"></i> No school(s) data found </p>
                                    </td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-primary mt-4">
                        {% if schools.has_previous %}
                        <li class="page-item active"><a class="page-link" href="{% url 'schools' %}?page={{schools.previous_page_number}}"><i class="fa fa-chevron-left"></i></a></li>
                        {% endif %}
                        {% if schools.has_next %}
                        <li class="page-item active"><a class="page-link" href="{% url 'schools' %}?page={{schools.next_page_number}}"><i class="fa fa-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}